body {
    margin: 0;
   
}

.container {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr ;
   
}

header {
    background-color: yellowgreen;
   
}

aside {
   background-color: aqua;
   
}
main {
    background-color: blueviolet;
    
}

#perfil {
    width: 30px;
    border-radius: 20px;
}

.cabecalho {
   display: flex;
   justify-content: space-between;
   padding: 10px;
}

.cabecalho #left{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 134px;
    height: 30px;
    align-items: center;
}

.cabecalho #center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cabecalho #center #search {
    position: relative;
    left: 365px;
    top: -30px;
}

.cabecalho #right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 130px;
    height: 34px;
    align-items: center;
}

.sub-video {
    display: grid;
    width: 240px;
    grid-template-columns: repeat(2, 1fr);
    
}   
